In [34]:
import json

In [2]:
a1=[{
    "name":"hjabjh",
    "roll":"3yyy89738",
    "department":"kjwhkj",
    "hostel":"kjhkjw"
},
    {
    "name":"kjhjb",
    "roll":"3yyy8sedw9738",
    "department":"kererehkj",
    "hostel":"kjwd"
},{
    "name":"hjawedwe",
    "roll":"3yyy8wedw8",
    "department":"wedwdwehkj",
    "hostel":"kjhwded"
},{
    "name":"hjawdwh",
    "roll":"3yydwdw738",
    "department":"wddjwhkj",
    "hostel":"kjhsxssx"
},{
    "name":"hjabwdwd",
    "roll":"3yyy8wddw8",
    "department":"kwsdwhkj",
    "hostel":"kjhkwdsw"
},{
    "name":"hjabdwd",
    "roll":"3yyywds38",
    "department":"kwwhkj",
    "hostel":"kj344"
},{
    "name":"hjabedc",
    "roll":"3yyy3434338",
    "department":"kddchkj",
    "hostel":"kjhssd"
},{
    "name":"hjadcdc",
    "roll":"3yyy5r538",
    "department":"kscdshkj",
    "hostel":"kjhkscdds"
},]

In [3]:
print(json.dumps(a1))

[{"name": "hjabjh", "roll": "3yyy89738", "department": "kjwhkj", "hostel": "kjhkjw"}, {"name": "kjhjb", "roll": "3yyy8sedw9738", "department": "kererehkj", "hostel": "kjwd"}, {"name": "hjawedwe", "roll": "3yyy8wedw8", "department": "wedwdwehkj", "hostel": "kjhwded"}, {"name": "hjawdwh", "roll": "3yydwdw738", "department": "wddjwhkj", "hostel": "kjhsxssx"}, {"name": "hjabwdwd", "roll": "3yyy8wddw8", "department": "kwsdwhkj", "hostel": "kjhkwdsw"}, {"name": "hjabdwd", "roll": "3yyywds38", "department": "kwwhkj", "hostel": "kj344"}, {"name": "hjabedc", "roll": "3yyy3434338", "department": "kddchkj", "hostel": "kjhssd"}, {"name": "hjadcdc", "roll": "3yyy5r538", "department": "kscdshkj", "hostel": "kjhkscdds"}]

In [4]:
!ls

dataCreation.ipynb  infoManage	__pycache__  venv
db.sqlite3	    manage.py	student

In [35]:
import sqlite3

In [36]:
conn=sqlite3.connect('db.sqlite3')
cur=conn.cursor()

In [37]:
f=open('1data.json')

In [38]:
data=json.load(f)

In [39]:
print(data)

[{'name': 'hjabjh', 'roll': '123', 'department': 'kjwhkj', 'hostel': 'kjhkjw'}, {'name': 'hjabjh', 'roll': '123', 'department': 'kjwhkj', 'hostel': 'kjhkjw'}]

In [40]:
query1='''create table if not exists student_studentdata(
    id integer not null primary key,
    name text not null,
    department text not null,
    hostel text not null,
    roll text not null);'''

In [41]:
cur.execute(query1)
conn.commit()

In [42]:
maxq='select max(id) from student_studentdata'

In [43]:
cur.execute(maxq)

In [44]:
maxid=cur.fetchall()

In [46]:
if len(maxid)!=0:
    maxid=maxid[0][0]
else :
    maxid=0

In [47]:
print(maxid)

15

In [48]:
q2='insert into student_studentdata values(?,?,?,?,?)'

for a in data:
    maxid=maxid+1
#     try:
    cur.execute(q2,[maxid,a['name'],a['department'],a['hostel'],a['roll']])
    conn.commit()
#     except:
#         croll=a['roll']
#         print(f'{croll} already exists')

123 already exists
123 already exists